@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background-color: #faf7ff;
}

.gradient-jelly {
  background: linear-gradient(to bottom left, #B090F5, #5FBFFF);
  width: 100%;
}

.gradient-gumdrop-frosting {
  background: linear-gradient(to bottom left, #F1EBFF, #B5E1FF);
  width: 100%;
}